node_modules
dist
out
.DS_Store
.eslintcache
*.log*
resources/*.js
coverage
.playwright-mcp
ui-ux-pro-max
.superpowers/


# 忽略 agnet 
.agents
.claude
.trae
.specify
.vscode
superpowers
docs/designs/*
docs/superpowers/
.env
scripts